<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>   
    <div> 
        <h1>Reminders</h1>
      <div class="reminders-list"></div>
        <div class="creation-area">
            <% if (locals.addNote) { %>
                <h1> <%-addNote%> </h1>
            <% } else { %>
                <h1> "placeholder for testing"</h1>
            <%} %>
        </div>
        <!-- <h3>TEST AREA BELOW</h3>
        <p> Are the below overlap?</p>
        <input type="text" class="textbox"></input>
        <input type="text" class="textbox"></input>
        <input type="text" class="textbox"></input>
        <input type="text" class="textbox"></input>
        <p>Are these over lapped? these are put into div</p>
        <div>
            <input type="text" class="textbox"></input>
        </div>
        div>
            <input type="text" class="textbox"></input>
        </div>div>
        <input type="text" class="textbox"></input> -->
    </div>
        

        <!-- <form action="/" method="POST">
            <button class="circle-button">
                <span class="plus-symbol">+</span>
            </button>
        </form> -->
        
    </div>
   
</body>
<footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="/main.js"></script>


</footer>
</html>




