body {
    background-color: #007bff;
}

.current-list {
    background-color: green;
    height: 900px;
    width: 900px;
}

.plus-symbol {
    font-size: 24px; /* Adjust the size as needed */
    color: #fff; /* Change this to your desired symbol color */
}